/* Gobal style */

body, #main {
    background: #1c1c1e !important;
}

h1, h2, h3, a.logo {
    font-family: 'Heebo', sans-serif !important;
    font-weight: 900;
}

body a.logo.fenua {
    font-size: 1.6rem !important;
    letter-spacing: 0.2rem;
    line-height: 3.5rem;
    padding: 0 2em;
}


/* c14857a5-95ff-d745-a812-d4ac6dc00601 | blob:http://localhost:8000/c14857a5-95ff-d745-a812-d4ac6dc00601 */

#header nav a.menu-link::before, #header nav a.menu-link::after {
    /* background-size: 24px 32px; */
    background-size: 40px 40px !important;
  }


/* 4a052f00-e856-4147-89ad-94c77e6db5f6 | blob:http://localhost:8000/4a052f00-e856-4147-89ad-94c77e6db5f6 */

a {
    /* transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out; */
    transition: none !important;
  }
  
  #header nav a.menu-link::after {
    /* transition: opacity 0.2s ease-in-out; */
    transition: none !important;
  }
  
  #banner > .inner {
    /* transition: opacity 1.5s ease, transform 0.5s ease-out, filter 0.5s ease; */
    transition: none !important;
  }
  
  

/*Banner */

body #banner.major {
    height: 100vh;
    min-height: 30em;
    max-height: 50em;
}

body header.major > :first-child::after {
    height: 0px;
    margin: 0px;
    width: 100%;
}

h1.hero-title {
    font-weight: 900 !important;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-size: 6rem !important;
    text-align: center;
    line-height: 1.5;
}

h3.hero-subtitle{
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    line-height: 0.5;
}

/* #banner.hero-section {
    background-image: url("../images/fenua-photo-test.jpg");
    background-color: #00000015;
    background-blend-mode: overlay;
} */

/* 5f8d5d1a-6e61-da4e-9722-97f580b395dd | blob:http://localhost:8000/5f8d5d1a-6e61-da4e-9722-97f580b395dd */

body #banner::after {
    /* background-color: #242943; */
    background-color: transparent !important;
  }
  

.hero-title,
.hero-subtitle{
    text-align: center;
}

.fenua-credits {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 30px;
    font-size: 0.9rem;
    color:#ffffffa8;
    /* text-transform: uppercase; */
}

.icons.hero-section-socials{
    text-align: center;
    margin-top: 50px;
}

.fenua-credits li:hover a{
    color: #ffffffed;
}
  
.fenua-credits > ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 0px;
}

.fenua-credits > ul > li {
    padding-right: 10px;

}

.fenua-credits > ul > li  a{
    border-bottom: none;
}

.video-player.fullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}

.major.hero-section{
    overflow: hidden;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hero-section h1.is-size-1-widescreen{
        font-size: 6rem !important;
    }
    .video-player.fullscreen{
        width: 100%;
        height: auto;
    }
 }

